<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleados-heading" data-cy="EmpleadosCreateUpdateHeading" jhiTranslate="trabajo2App.empleados.home.createOrEditLabel">
        Crear o editar Empleados
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="trabajo2App.empleados.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombresEmpleado" jhiTranslate="trabajo2App.empleados.nombresEmpleado"
            >Nombres Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="nombresEmpleado"
            id="field_nombresEmpleado"
            data-cy="nombresEmpleado"
            formControlName="nombresEmpleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellidoEmpleado" jhiTranslate="trabajo2App.empleados.apellidoEmpleado"
            >Apellido Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoEmpleado"
            id="field_apellidoEmpleado"
            data-cy="apellidoEmpleado"
            formControlName="apellidoEmpleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="trabajo2App.empleados.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_correo" jhiTranslate="trabajo2App.empleados.correo">Correo</label>
          <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deparmento" jhiTranslate="trabajo2App.empleados.deparmento">Deparmento</label>
          <select
            class="form-control"
            id="field_deparmento"
            data-cy="deparmento"
            name="deparmento"
            formControlName="deparmento"
            [compareWith]="compareDeparmento"
          >
            <option [ngValue]="null"></option>
            @for (deparmentoOption of deparmentosSharedCollection; track $index) {
              <option [ngValue]="deparmentoOption">{{ deparmentoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
